name: Android CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build Android Camera X App with Gradle
        env:
          GITHUB_ACTOR: ${{ secrets.SECRET_ACTOR }}  # Inject the GitHub actor
          GITHUB_TOKEN: ${{ secrets.SECRET_TOKEN }}  # Inject the GitHub token (GitHub Actions secret)
        run: ./gradlew :core:camera:clean :core:camera:low-light:clean :core:camera:postprocess:clean :core:common:clean :core:model:clean :data:settings:clean :data:media:clean :core:camera:build :core:camera:publishStableReleasePublicationToGitHubPackagesRepository :core:camera:low-light:build :core:camera:low-light:publishReleasePublicationToGitHubPackagesRepository :core:camera:postprocess:build :core:camera:postprocess:publishReleasePublicationToGitHubPackagesRepository  :core:common:build :core:common:publishStableReleasePublicationToGitHubPackagesRepository :core:model:build :core:model:publishStableReleasePublicationToGitHubPackagesRepository :data:media:build :data:media:publishStableReleasePublicationToGitHubPackagesRepository :data:settings:build :data:settings:publishStableReleasePublicationToGitHubPackagesRepository
